<div class="content">
  <div class="infoBar">
      <p class="dateRange"></p>
      <div class="changeDate">
        <button id="left" class="btn btn-secondary"><span class="glyphicon glyphicon-chevron-left"></span></button>
        <button id="right" class="btn btn-secondary"><span class="glyphicon glyphicon-chevron-right"></span></button>
      </div>
      <div class="dateHoraires">
        <table>
          <tbody>
            <tr class="strech">
              <td style="width:160px;min-width:160px;"></td>
              <td style="position:relative;">
                <table class="days">
                  <tbody>
                    <tr>

                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr class="strech">
              <td style="width:160px;min-width:160px;"></td>
              <td>
                <table class="hours">
                  <tbody>
                    <tr>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  <div class="planning">
    <div class="selector" data-toggle="modal" data-target="#editEventModal"><span class="glyphicon glyphicon-plus"></span></div>

    <table>
      <tbody class="agents">
      </tbody>
    </table>
  </div>
</div>
